:root {
  --bg: #111111;
  --text: #ffffff;
  --gray: #49494a;
  --primary-color: #e8eaea;
  --accent-color: #476966;
}
:root.light {
  --bg: #f5f5f5;
  --text: #111111;
  --gray: #b0b0b2;
  --primary-color: #ffffff;
  --accent-color: #6a9c97;
}

body {
  background-color: var(--bg);
  color: var(--text);
}